* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-img: url(../assets/wallpaper.png);
    --gray-600: #475569;
    --gray-800: #1E293B;
    --gray-400: #94A3B8;
    --text-purple: #7C3AED;
    --text-red: #ED3A5A;
}

body {
   background-image: var(--background-img);
   background-color: #F8FAFC; 
   height: 100vh;
   background-repeat: no-repeat;
   background-position: center right;
   background-size: contain;
}

body *{
    font-family: "Titillium Web", sans-serif;
}

#container {
    width: 100%;
    margin: 56px auto 0;
}

#logo-img img {
    width: 159.5px;
    margin-left: 123px;
    margin-bottom: 113px;
}

#content {
    border: 1px solid red;
    width: 384px;
    height: 483px;
    margin-left: 112px;
}

#content-texts {
    width: 351px;
}

#frame6{ 
    display: grid;
    gap: 16px;
}

#frame6 h1 {
    border: 1px solid green;
    color: var(--gray-800);
    width: 316px;
    height: 55px;
    margin-right: 35px;

}

#frame6 p {
    border: 1px solid purple;
    color: var(--gray-600);
}
